<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button [disabled]="!isUnlocked" (click)="lock()">Click here to lock</button>
</div>
<div>
  <input [disabled]="isUnlocked" #passwordInput type="password" />
  <button [disabled]="isUnlocked" (click)="unlock()">Click here to unlock</button>
</div>
<div *ngIf="isUnlocked">
  <h1>Entries</h1>
  <button (click)="addEntry()">Add entry</button>
  <app-entry *ngIf="singleEntry" [entry]="singleEntry"></app-entry>
  <app-entries></app-entries>
</div>